@use "../../styles//variables";

%header {
  background-color: variables.$secondary-color;
  color: #fff;
  font-size: variables.$text-l;
}

.header {
  @extend %header;

  &:hover {
    background-color: rgba(#000, 0.65);
  }
}

.headerContent {
  display: grid;
  grid-template-columns: 1fr min(650px, 45%) min(650px, 45%) 1fr;
  grid-template-rows: 96px;

  .divOne {
    grid-column-start: 2;
    display: grid;
    justify-content: start;
    align-items: center;
    cursor: pointer;
  }
  .divTwo {
    grid-column-start: 3;
    display: grid;
    justify-content: end;
    align-items: center;

    .wrapper {
      display: flex;
      justify-content: end;
      align-items: center;
      transform: translateX(20px);
      form {
        position: relative;
      }
      input {
        padding: 1em;
        border-radius: 0.2em;
        display: inline-block;
      }
      .search {
        position: absolute;
        right: 10px;
        top: 7px;
        color: variables.$primary-color;
        font-size: 1.5em;
      }
      .login {
        margin-right: 0.5em;
        font-size: 2em;
        color: variables.$white;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 450px) {
  .header {
    font-size: 14px;
    input {
      width: 150px;
      margin-right: 15px;
    }
  }
  .search {
    right: 20px !important;
    top: 8px !important;
  }
}
