.base {
  color: white;
  background: #520000;
  padding: 30px 50px;
}

.container {
  padding-top: 3rem;
}

.card {
  box-shadow: 0 5px 40px 10px #00000070;
  background-color: #000000;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.imgWrapper {
  border-radius: 2rem 0 0 2rem;
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.description {
  padding: 2em;
  text-align: center;

  h1 {
    font-size: 2.3em;
    margin-bottom: 1em;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.comicsTitle {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.comics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.cardwrapper {
  position: relative;
  box-shadow: 0px 10px 35px 5px rgba(0, 0, 0, 0.55);
  border-radius: 20px 20px 0 0;
  transition: transform 500ms ease;
}

.cardwrapper:hover,
.cardwrapper:focus-within {
  transform: scale(1.13);
}

.cardimg {
  background-color: #fc0000;
  border-radius: 20px 20px 0 0;
  aspect-ratio: 550 / 853;
}

.cardimg img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px 20px 0 0;
}

.cardtitle {
  font-family: "Kanit", sans-serif;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 3rem;

  p {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 650px) {
  .base {
    padding-top: 150px;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .description {
    h1 {
      font-size: 3rem;
    }
  }

  .imgWrapper {
    border-radius: 2rem 2rem 0 0;
  }
}
