// colors

$primary-color: #520000;
$secondary-color: #000;
$white: #fff;

// text sizes

$text-xs: 10px;
$text-s: 12px;
$text-m: 14px;
$text-l: 16px;
$text-xl: 18px;
$text-xxl: 20px;
$text-xxxl: 20px;
