@use "./_variables";

.container {
  display: grid;
  grid-template-columns: 1fr min(1300px, 90%) 1fr;
  grid-template-rows: 96px minmax((calc((100vh - 168px))), auto) 72px;
}
.container > * {
  grid-column: 2;
}

.LoginLayoutContainer {
  grid-column: 1/-1;
}

.container > .fluid {
  grid-column: 1 / -1;
}
body {
  background-color: variables.$primary-color;
  height: 100vh;
  overflow-y: scroll;
}

.container_ {
  max-width: 1200px;
  margin: 0 auto;
}
